<!DOCTYPE html>
<html>
<head>
  <title>altaSensorT</title>
</head>
<body>
  <h2>----------  ALTA  SENSOR  ----------</h2>

  <form action="#" th:action="@{nuevoSensorT}" th:object="${sensor}" method="post">
    <label for="nombre">NOMBRE:</label>
    <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required><br><br>

    <label for="temperatura">TEMPERATURA:</label>
    <input type="text" id="temperatura" name="temperatura" value="0" th:field="*{temperatura}" required><br><br>

    <label for="activo">ACTIVO:</label>
    <input type="checkbox" id="activo" name="activo" th:field="*{activo}"><br><br>
	
	
    <input type="submit" value="Enviar">
    <input type="reset" value="Resetear"/>
    
  </form>
</body>
</html>
