<style>
    body {
      text-align: left;
      font-family: Arial, sans-serif;
    }

    .link-container {
      display: inline-block;
      margin-top: 20px;
      border: 2px solid red;
      border-radius: 5px;
      padding: 10px;
    }

    .link-container a {
      color: red;
      text-decoration: none;
    }
  </style>
  <h1>Administrar dispositivos</h1>
  <div class="link-container">
<font size="3px"><a href="/sensor_basura" style="text-decoration: none;">Sensores de Basura</a></font>
  </div>
  <div class="link-container">
<font size="3px"><a href="/sensor_temperatura" style="text-decoration: none;">Sensores de Temperatura</a></font>
  </div>
  <div class="link-container">
<font size="3px"><a href="/sensor_luces" style="text-decoration: none;">Sensores de Luces</a></font>
  </div>  