<!DOCTYPE html>
<html>
<head>
  <title>altaEventoT</title>
</head>
<body>
  <h2>----------  ALTA  EVENTO   SENSOR   TEMPERATURA  ----------</h2>

  <form action="#" th:action="@{altaEventoT}" th:object="${evento}" method="post">
    <label for="descripcion">DESCRIPCION:</label>
    <input type="text" id="descripcion" name="descripcion" th:field="*{descripcion}" required><br><br>

    <label for="fechaHora">FECHA y HORA:</label>
    <input type="datetime-local" id="fechaHora" name="fechaHora" value="2023-06-29T10:00" th:field="*{fechaHora}" required><br><br>

    <label for="dispositivo">ID DISPOSITIVO:</label>
    <input type="text" id="dispositivo" name="dispositivo" th:field="*{dispositivo.id}" required><br><br>
	
	
    <input type="submit" value="Enviar">
    <input type="reset" value="Resetear"/>
    
  </form>
</body>
</html>