<style>
    body {
      text-align: left;
      font-family: Arial, sans-serif;
    }

    .link-container {
      display: inline-block;
      margin-top: 20px;
      border: 2px solid red;
      border-radius: 5px;
      padding: 10px;
    }

    .link-container a {
      color: red;
      text-decoration: none;
    }
  </style>
  <div class="link-container">
<font size="2px"><a href="/sensor_basura" style="text-decoration: none;">Volver</a></font>
  </div>
<table border="1px">
		  <thead>
			  
			  <tr>
				  <th>Id</th>
				  <th>Id Dispositivo</th>
				  <th>Descripcion</th>
				  <th>Fecha y Hora</th>
				  <th>Dispositivo</th>
			  </tr>
		  </thead>
		  <tbody>
			  <tr th:each="e : ${eventos}" th:if="${e.dispositivo.nombre == 'Sensor Basura'}">
				  <td><span th:text="${e.id}" /></td>
				  <td><span th:text="${e.dispositivo.id}" /></td>
				  <td><span th:text="${e.descripcion}"/></td>
				  <td><span th:text="${#temporals.format(e.fechaHora, 'dd-MM-yyyy HH:mm')}" /></td>
				  <td><span th:text="${e.dispositivo.nombre}"></td>
		  </tbody>
</table>