<title>Sensores de basura</title>
<style>
    body {
      text-align: left;
      font-family: Arial, sans-serif;
    }

    .link-container {
      display: inline-block;
      margin-top: 20px;
      border: 2px solid red;
      border-radius: 5px;
      padding: 10px;
    }

    .link-container a {
      color: red;
      text-decoration: none;
    }
  </style>
  <div class="link-container">
<font size="5px"><a href="/sensor_basura/nuevo" style="text-decoration: none;">Añadir sensor</a></font>
  </div>
  <div class="link-container">
<font size="5px"><a href="/sensor_basura/generar_eventos" style="text-decoration: none;">Generar Eventos</a></font>
  </div>
  <div class="link-container">
<font size="5px"><a href="/sensor_basura/vaciar" style="text-decoration: none;">Vaciar contenedores</a></font>
  </div>
<h1 align="left" font-family: Verdana, Geneva, Tahoma, sans-serif;>Sensores encendidos</h1>
<table border="1px">
		  <thead>
			  
			  <tr>
				  <th>Id</th>
				  <th>Dispositivo</th>
				  <th>Nombre</th>
				  <th>Estado</th>
				  <th>Departamento</th>
				  <th>Distancia basura</th>
				  <th>Editar</th>
			  </tr>
		  </thead>
		  <tbody>
			  <tr th:each="s : ${sensores}" th:if="${s.activo}">
				  <td><span th:text="${s.id}" /></td>
				  <td><span th:text="${s.activo} ? 'encendido' : 'apagado'"/></td>
				  <td><span th:text="${s.nombre}" /></td>
				  <td><span th:text="${s.lleno} ? 'Recoger' : 'Falta'" /></td>
				  <td><span th:text="${s.nroDepartamento}" /></td>
				  <td><span th:text="${s.distanciaBasura}" /></td>
				  <td>
					  <a th:href="@{/sensor_basura/{id}(id=${s.id})}" style="text-decoration: none;">Editar</a>
				  </td>
		  </tbody>
</table>
 <h1 align="left" font-family: Verdana, Geneva, Tahoma, sans-serif;>Sensores apagados</h1>
<table border="1px">
		  <thead>
			  
			  <tr>
				  <th>Id</th>
				  <th>Dispositivo</th>
				  <th>Nombre</th>
				  <th>Estado</th>
				  <th>Departamento</th>
				  <th>Distancia basura</th>
				  <th>Editar</th>
			  </tr>
		  </thead>
		  <tbody>
			  <tr th:each="s : ${sensores}" th:unless="${s.activo}">
				  <td><span th:text="${s.id}" /></td>
				  <td><span th:text="${s.activo} ? 'encendido' : 'apagado'"/></td>
				  <td><span th:text="${s.nombre}" /></td>
				  <td><span th:text="${s.lleno} ? 'Recoger' : 'Falta'" /></td>
				  <td><span th:text="${s.nroDepartamento}" /></td>
				  <td><span th:text="${s.distanciaBasura}" /></td>
				  <td>
					  <a th:href="@{/sensor_basura/{id}(id=${s.id})}" style="text-decoration: none;">Editar</a>
				  </td>
		  </tbody>
</table>
<p> &nbsp; &nbsp; &nbsp;</p>
<h1 align="left" font-family: Verdana, Geneva, Tahoma, sans-serif;>Eventos</h1>
<table border="1px">
		  <thead>
			  
			  <tr>
				  <th>Id</th>
				  <th>Descripcion</th>
				  <th>Fecha y Hora</th>
				  <th>Dispositivo</th>
			  </tr>
		  </thead>
		  <tbody>
			  <tr th:each="e : ${eventos}">
				  <td><span th:text="${e.id}" /></td>
				  <td><span th:text="${e.descripcion}"/></td>
				  <td><span th:text="${e.fechaHora}" /></td>
				  <td><span th:text="${e.dispositivo.nombre}"></td>
		  </tbody>
</table>